body {
	background: url(background.jpg);
	background-size: cover;
}
#testform {
	margin: 0 auto; 
	width:250px;
}
.field {
	width: 100%;
	border-radius: .5em;
	box-shadow: 0;
	height: 2em;
}
#buttonholder {
	text-align: center;
}
#results {
	text-align: center;
}